@import '../assets/variables';

.error-page {
    padding: 2rem;
    text-align: center;
    color: $error-foreground;
    background-color: $error-bg;
    border-radius: 12px;
    max-width: 500px;
    margin: 4rem auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }
  
  .error-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .error-message {
    font-size: 1.2rem;
  }
  